<header class="site-header">

  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->

      <a class="navbar-brand" href="https://stockflare.com"><img src="/images/logo.png"/></a>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="navbar-collapse-1">
       
        <ul class="nav navbar-nav navbar-left">
          <li><a href="https://stockflare.com/search" target="_blank"><i class="fa fa-search fa-lg"></i></a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="https://stockflare.com">Continue to Stockflare.com</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div>
  </nav>


</header>
