<!DOCTYPE html>
<html>

  {% include head.html %}

    <body>

    {% include header.html %}

    <div class="top-wrap">
      <div class="container">
        <div class="row">
          <div class="col-md-6 vcenter">
            <div class="content">
              <div class="fadein">
                <img src="/images/the-intelligent-investor.png"/>
                <img src="/images/liars-poker.png"/>
                <img src="/images/one-up-on-wall.png"/>
                <img src="/images/the-big-short.png"/>
              </div>
            </div>
          </div>
          <div class="col-md-6 vcenter">
            <div class="content">
              <h1>Yeap, We are giving away  </br>Free books to our users</h1>
              <h2>Want one?</h2>
              <p>Just register at Stockflare and you will be automatically entered! If you’re already registered you’re in the competition already</p>
              <a class="btn btn-custom" href="https://stockflare.com/register">Sign up 100% Free!</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="bottom-wrap">
      <div class="container-fluid">
        <div class="row header">
          <div class="col-md-12 text-center">
            <h4>Check out our favourite investing books</h4>
            <p>Once you've been selected as a winner you'll be able to choose from the books below</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="book-block">
              <a href="http://www.amazon.com/Where-Are-Customers-Yachts-Street/dp/0471770892/">
                <img src="/images/where-are-the-customers-yachts.jpg"/>
                <div class="content">
                  <h3>Where Are the Customers' Yachts</h3>
                  <p>by Fred Schwed</p>
                  <div class="quote">
                    <p>This is a general test of the hover! bwofha faihwfiahf wfihaiwfhapi afawihfapwhf ioabwfioaiwfaihwfioah oifahwfiohaiowfh</p>
                  </div>
                </div>
              </a>
              <div class="footer">
                <a href="http://www.wikipedia.com">Wikipedia</a>
              </div>
            </div>
            <div class="book-block">
              <a href="http://www.amazon.com/Little-Book-Common-Sense-Investing/dp/0470102101/">
                <img src="/images/the-little-book-of-common-sense.jpg"/>
                <div class="content">
                  <h3>The Little Book of Common Sense Investing</h3>
                  <p>by John C. Bogle</p>
                  <div class="quote">
                    <p>This is a general test of the hover! bwofha faihwfiahf wfihaiwfhapi afawihfapwhf ioabwfioaiwfaihwfioah oifahwfiohaiowfh</p>
                  </div>
                </div>
              </a>
              <div class="footer">
                <a href="http://www.wikipedia.com">Wikipedia</a>
              </div>
            </div>
            <div class="book-block">
              <a href="http://www.amazon.com/Intelligent-Investor-Definitive-Investing-Essentials/dp/0060555661/">
                <img src="/images/the-intelligent-investor.png"/>
                <div class="content">
                  <h3>The Intelligent Investor</h3>
                  <p>by Benjamin Graham</p>
                  <div class="quote">
                    <p>This is a general test of the hover! bwofha faihwfiahf wfihaiwfhapi afawihfapwhf ioabwfioaiwfaihwfioah oifahwfiohaiowfh</p>
                  </div>
                </div>
              </a>
              <div class="footer">
                <a href="http://www.wikipedia.com">Wikipedia</a>
              </div>
            </div>
            <div class="book-block">
              <a href="http://www.amazon.com/One-Up-Wall-Street-Already/dp/0743200403/">
                <img src="/images/one-up-on-wall.png"/>
                <div class="content">
                  <h3>One Up On Wall Street</h3>
                  <p>by Peter Lynch</p>
                  <div class="quote">
                    <p>This is a general test of the hover! bwofha faihwfiahf wfihaiwfhapi afawihfapwhf ioabwfioaiwfaihwfioah oifahwfiohaiowfh</p>
                  </div>
                </div>
              </a>
              <div class="footer">
                <a href="http://www.wikipedia.com">Wikipedia</a>
              </div>
            </div>
            <div class="book-block">
              <a href="http://www.amazon.com/Beating-Street-Peter-Lynch/dp/0671891634/">
                <img src="/images/beating-the-street.png"/>
                <div class="content">
                  <h3>Beating the Street</h3>
                  <p>by Peter Lynch</p>
                  <div class="quote">
                    <p>This is a general test of the hover! bwofha faihwfiahf wfihaiwfhapi afawihfapwhf ioabwfioaiwfaihwfioah oifahwfiohaiowfh</p>
                  </div>
                </div>
              </a>
              <div class="footer">
                <a href="http://www.wikipedia.com">Wikipedia</a>
              </div>
            </div>
            <div class="book-block">
              <a href="http://www.amazon.com/Common-Stocks-Uncommon-Profits-Writings/dp/0471445509/">
                <img src="/images/common-stocks-uncommon.png"/>
                <div class="content">
                  <h3>Common Stocks and Uncommon Profits and Other Writings</h3>
                  <p>by Philip A. Fisher</p>
                  <div class="quote">
                    <p>This is a general test of the hover! bwofha faihwfiahf wfihaiwfhapi afawihfapwhf ioabwfioaiwfaihwfioah oifahwfiohaiowfh</p>
                  </div>
                </div>
              </a>
              <div class="footer">
                <a href="http://www.wikipedia.com">Wikipedia</a>
              </div>
            </div>
            <div class="book-block">
              <a href="http://www.amazon.com/Stocks-Long-Run-Definitive-Investment/dp/0071800514/">
                <img src="/images/stocks-for-the-long-run.png"/>
                <div class="content">
                  <h3>Stocks for the Long Run</h3>
                  <p>by Jeremy J. Siegel</p>
                  <div class="quote">
                    <p>This is a general test of the hover! bwofha faihwfiahf wfihaiwfhapi afawihfapwhf ioabwfioaiwfaihwfioah oifahwfiohaiowfh</p>
                  </div>
                </div>
              </a>
              <div class="footer">
                <a href="http://www.wikipedia.com">Wikipedia</a>
              </div>
            </div>
            <div class="book-block">
              <a href="http://www.amazon.com/Irrational-Exuberance-3rd-Robert-Shiller/dp/0691166269/">
                <img src="/images/irrational-exuberence.png"/>
                <div class="content">
                  <h3>Irrational Exuberance</h3>
                  <p>by Robert J. Shiller</p>
                  <div class="quote">
                    <p>This is a general test of the hover! bwofha faihwfiahf wfihaiwfhapi afawihfapwhf ioabwfioaiwfaihwfioah oifahwfiohaiowfh</p>
                  </div>
                </div>
              </a>
              <div class="footer">
                <a href="http://www.wikipedia.com">Wikipedia</a>
              </div>
            </div>
            <div class="book-block">
              <a href="http://www.amazon.com/Big-Short-Inside-Doomsday-Machine/dp/0393338827/">
                <img src="/images/the-big-short.png"/>
                <div class="content">
                  <h3>The Big Short</h3>
                  <p>by Michael Lewis</p>
                  <div class="quote">
                    <p>This is a general test of the hover! bwofha faihwfiahf wfihaiwfhapi afawihfapwhf ioabwfioaiwfaihwfioah oifahwfiohaiowfh</p>
                  </div>
                </div>
              </a>
              <div class="footer">
                <a href="http://www.wikipedia.com">Wikipedia</a>
              </div>
            </div>
            <div class="book-block">
              <a href="http://www.amazon.com/Too-Big-Fail-Washington-FinancialSystem/dp/0143118242/">
                <img src="/images/too-big-to-fail.png"/>
                <div class="content">
                  <h3>Too Big to Fail</h3>
                  <p>by Andrew Ross Sorkin</p>
                  <div class="quote">
                    <p>This is a general test of the hover! bwofha faihwfiahf wfihaiwfhapi afawihfapwhf ioabwfioaiwfaihwfioah oifahwfiohaiowfh</p>
                  </div>
                </div>
              </a>
              <div class="footer">
                <a href="http://www.wikipedia.com">Wikipedia</a>
              </div>
            </div>
            <div class="book-block">
              <a href="http://www.amazon.com/Liars-Poker-Norton-Paperback-Michael/dp/039333869X/">
                <img src="/images/liars-poker.png"/>
                <div class="content">
                  <h3>Liar's Poker</h3>
                  <p>by Michael Lewis</p>
                  <div class="quote">
                    <p>This is a general test of the hover! bwofha faihwfiahf wfihaiwfhapi afawihfapwhf ioabwfioaiwfaihwfioah oifahwfiohaiowfh</p>
                  </div>
                </div>
              </a>
              <div class="footer">
                <a href="http://www.wikipedia.com">Wikipedia</a>
              </div>
            </div>
            <div class="book-block">
              <a href="http://www.amazon.com/When-Genius-Failed-Long-Term-Management/dp/0375758259/">
                <img src="/images/when-genius-failed.png"/>
                <div class="content">
                  <h3>When Genius Failed</h3>
                  <p>by Roger Lowenstein</p>
                  <div class="quote">
                    <p>This is a general test of the hover! bwofha faihwfiahf wfihaiwfhapi afawihfapwhf ioabwfioaiwfaihwfioah oifahwfiohaiowfh</p>
                  </div>
                </div>
              </a>
              <div class="footer">
                <a href="http://www.wikipedia.com">Wikipedia</a>
              </div>
            </div>
            <div class="book-block">
              <a href="http://www.amazon.com/Random-Walk-Down-Wall-Street/dp/0393340740/">
                <img src="/images/a-random-walk-down-wall.png"/>
                <div class="content">
                  <h3>A Random Walk Down Wall Street</h3>
                  <p>by Burton G. Malkiel</p>
                  <div class="quote">
                    <p>This is a general test of the hover! bwofha faihwfiahf wfihaiwfhapi afawihfapwhf ioabwfioaiwfaihwfioah oifahwfiohaiowfh</p>
                  </div>
                </div>
              </a>
              <div class="footer">
                <a href="http://www.wikipedia.com">Wikipedia</a>
              </div>
            </div>
            <div class="book-block">
              <a href="http://www.amazon.com/Little-Book-Behavioral-Investing-worst/dp/0470686022/">
                <img src="/images/little-book-of-behavioral.png"/>
                <div class="content">
                  <h3>The Little Book of Behavioral Investing</h3>
                  <p>by James Montier</p>
                  <div class="quote">
                    <p>This is a general test of the hover! bwofha faihwfiahf wfihaiwfhapi afawihfapwhf ioabwfioaiwfaihwfioah oifahwfiohaiowfh</p>
                  </div>
                </div>
              </a>
              <div class="footer">
                <a href="http://www.wikipedia.com">Wikipedia</a>
              </div>
            </div>
            <div class="book-block">
              <a href="http://www.amazon.com/Simple-But-Not-Easy-Autobiographical/dp/0955576601/">
                <img src="/images/simple-but-not-easy.png"/>
                <div class="content">
                  <h3>Simple But Not Easy</h3>
                  <p>by Richard Oldfield</p>
                  <div class="quote">
                    <p>This is a general test of the hover! bwofha faihwfiahf wfihaiwfhapi afawihfapwhf ioabwfioaiwfaihwfioah oifahwfiohaiowfh</p>
                  </div>
                </div>
              </a>
              <div class="footer">
                <a href="http://www.wikipedia.com">Wikipedia</a>
              </div>
            </div>
            <div class="book-block">
              <a href="http://www.amazon.com/Manual-Ideas-Framework-Finding-Investments/dp/1118083652/">
                <img src="/images/the-manual-ideas.png"/>
                <div class="content">
                  <h3>The Manual of Ideas</h3>
                  <p>by John Mihaljevic</p>
                  <div class="quote">
                    <p>This is a general test of the hover! bwofha faihwfiahf wfihaiwfhapi afawihfapwhf ioabwfioaiwfaihwfioah oifahwfiohaiowfh</p>
                  </div>
                </div>
              </a>
              <div class="footer">
                <a href="http://www.wikipedia.com">Wikipedia</a>
              </div>
            </div>
            <div class="book-block">
              <a href="http://www.amazon.com/Most-Important-Thing-Illuminated-Thoughtful/dp/0231162847/">
                <img src="/images/important-thing-illuminated.png"/>
                <div class="content">
                  <h3>The Most Important Thing Illuminated</h3>
                  <p>by Howard Marks</p>
                  <div class="quote">
                    <p>This is a general test of the hover! bwofha faihwfiahf wfihaiwfhapi afawihfapwhf ioabwfioaiwfaihwfioah oifahwfiohaiowfh</p>
                  </div>
                </div>
              </a>
              <div class="footer">
                <a href="http://www.wikipedia.com">Wikipedia</a>
              </div>
            </div>
            <div class="book-block">
              <a href="http://www.amazon.com/Great-Crash-1929-Kenneth-Galbraith/dp/0547248164/">
                <img src="/images/the-great-crash.png"/>
                <div class="content">
                  <h3>The Great Crash 1929</h3>
                  <p>by John Kenneth Galbraith</p>
                  <div class="quote">
                    <p>This is a general test of the hover! bwofha faihwfiahf wfihaiwfhapi afawihfapwhf ioabwfioaiwfaihwfioah oifahwfiohaiowfh</p>
                  </div>
                </div>
              </a>
              <div class="footer">
                <a href="http://www.wikipedia.com">Wikipedia</a>
              </div>
            </div>
            <div class="book-block">
              <a href="http://www.amazon.com/Fooled-Randomness-Hidden-Markets-Incerto/dp/0812975219/">
                <img src="/images/fooled-by-randomness.png"/>
                <div class="content">
                  <h3>Fooled by Randomness</h3>
                  <p>by Nassim Taleb</p>
                  <div class="quote">
                    <p>This is a general test of the hover! bwofha faihwfiahf wfihaiwfhapi afawihfapwhf ioabwfioaiwfaihwfioah oifahwfiohaiowfh</p>
                  </div>
                </div>
              </a>
              <div class="footer">
                <a href="http://www.wikipedia.com">Wikipedia</a>
              </div>
            </div>
            <div class="book-block">
              <a href="http://www.amazon.com/History-Financial-Euphoria-Penguin-business/dp/0140238565/">
                <img src="/images/short-history-of-financial-euphoria.png"/>
                <div class="content">
                  <h3>A Short History of Financial Euphoria</h3>
                  <p>by John Kenneth Galbraith</p>
                  <div class="quote">
                    <p>This is a general test of the hover! bwofha faihwfiahf wfihaiwfhapi afawihfapwhf ioabwfioaiwfaihwfioah oifahwfiohaiowfh</p>
                  </div>
                </div>
              </a>
              <div class="footer">
                <a href="http://www.wikipedia.com">Wikipedia</a>
              </div>
            </div>
            <div class="book-block">
              <a href="http://www.amazon.com/Black-Swan-Improbable-Robustness-Fragility/dp/081297381X/">
                <img src="/images/the-black-swan.png"/>
                <div class="content">
                  <h3>The Black Swan</h3>
                  <p>by Nassim Taleb</p>
                  <div class="quote">
                    <p>This is a general test of the hover! bwofha faihwfiahf wfihaiwfhapi afawihfapwhf ioabwfioaiwfaihwfioah oifahwfiohaiowfh</p>
                  </div>
                </div>
              </a>
              <div class="footer">
                <a href="http://www.wikipedia.com">Wikipedia</a>
              </div>
            </div>
            <div class="book-block">
              <a href="http://www.amazon.com/Drunkards-Walk-Randomness-Rules-Lives/dp/0307275175/">
                <img src="/images/the-drunkards-walk.png"/>
                <div class="content">
                  <h3>The Drunkard's Walk</h3>
                  <p>by Leonard Mlodinow</p>
                  <div class="quote">
                    <p>This is a general test of the hover! bwofha faihwfiahf wfihaiwfhapi afawihfapwhf ioabwfioaiwfaihwfioah oifahwfiohaiowfh</p>
                  </div>
                </div>
              </a>
              <div class="footer">
                <a href="http://www.wikipedia.com">Wikipedia</a>
              </div>
            </div>
            <div class="book-block">
              <a href="http://www.amazon.com/Against-Gods-Remarkable-Story-Risk/dp/0471295639/">
                <img src="/images/against-the-gods.png"/>
                <div class="content">
                  <h3>Against the Gods</h3>
                  <p>by Peter L. Bernstein</p>
                  <div class="quote">
                    <p>This is a general test of the hover! bwofha faihwfiahf wfihaiwfhapi afawihfapwhf ioabwfioaiwfaihwfioah oifahwfiohaiowfh</p>
                  </div>
                </div>
              </a>
              <div class="footer">
                <a href="http://www.wikipedia.com">Wikipedia</a>
              </div>
            </div>
            <div class="book-block">
              <a href="http://www.amazon.com/Why-Stocks-Go-Up-Down/dp/0989298205/">
                <img src="/images/why-stocks-go-up-and-down.png"/>
                <div class="content">
                  <h3>Why Stocks Go Up and Down</h3>
                  <p>by William Pike</p>
                  <div class="quote">
                    <p>This is a general test of the hover! bwofha faihwfiahf wfihaiwfhapi afawihfapwhf ioabwfioaiwfaihwfioah oifahwfiohaiowfh</p>
                  </div>
                </div>
              </a>
              <div class="footer">
                <a href="http://www.wikipedia.com">Wikipedia</a>
              </div>
            </div>
            <div class="book-block">
              <a href="http://www.amazon.com/Manias-Panics-Crashes-History-Financial/dp/0230365353/">
                <img src="/images/manias-panics-and-crashes.png"/>
                <div class="content">
                  <h3>Manias, Panics, and Crashes</h3>
                  <p>by Charles P. Kindleberger</p>
                  <div class="quote">
                    <p>This is a general test of the hover! bwofha faihwfiahf wfihaiwfhapi afawihfapwhf ioabwfioaiwfaihwfioah oifahwfiohaiowfh</p>
                  </div>
                </div>
              </a>
              <div class="footer">
                <a href="http://www.wikipedia.com">Wikipedia</a>
              </div>
            </div>
            <div class="book-block">
              <a href="http://www.amazon.com/Extraordinary-Popular-Delusions-Madness-Crowds/dp/1463740514/">
                <img src="/images/memoirs-of-delusion.png"/>
                <div class="content">
                  <h3>Extraordinary Popular Delusions and The Madness of Crowds</h3>
                  <p>by Charles MacKay</p>
                  <div class="quote">
                    <p>This is a general test of the hover! bwofha faihwfiahf wfihaiwfhapi afawihfapwhf ioabwfioaiwfaihwfioah oifahwfiohaiowfh</p>
                  </div>
                </div>
              </a>
              <div class="footer">
                <a href="http://www.wikipedia.com">Wikipedia</a>
              </div>
            </div>
            <div class="book-block">
              <a href="http://www.amazon.com/Reminiscences-Stock-Operator-Edwin-Lef%C3%A8vre/dp/0471770884/">
                <img src="/images/stock-operator.png"/>
                <div class="content">
                  <h3>Reminiscences of a Stock Operator</h3>
                  <p>by Edwin Lefèvre</p>
                  <div class="quote">
                    <p>This is a general test of the hover! bwofha faihwfiahf wfihaiwfhapi afawihfapwhf ioabwfioaiwfaihwfioah oifahwfiohaiowfh</p>
                  </div>
                </div>
              </a>
              <div class="footer">
                <a href="http://www.wikipedia.com">Wikipedia</a>
              </div>
            </div>
            <div class="book-block">
              <a href="http://www.amazon.com/Clash-Financial-Pundits-Influences-Investment/dp/0071817921/">
                <img src="/images/clash-of-the-financial-pundits.png"/>
                <div class="content">
                  <h3>Clash of the Financial Pundits</h3>
                  <p>by Joshua M. Brown</p>
                  <div class="quote">
                    <p>This is a general test of the hover! bwofha faihwfiahf wfihaiwfhapi afawihfapwhf ioabwfioaiwfaihwfioah oifahwfiohaiowfh</p>
                  </div>
                </div>
              </a>
              <div class="footer">
                <a href="http://www.wikipedia.com">Wikipedia</a>
              </div>
            </div>
            <div class="book-block">
              <a href="http://www.amazon.com/Davis-Dynasty-Successful-Investing-Street/dp/047147441X/">
                <img src="/images/davis-dynasty.png"/>
                <div class="content">
                  <h3>The Davis Dynasty</h3>
                  <p>by John Rothchild</p>
                  <div class="quote">
                    <p>This is a general test of the hover! bwofha faihwfiahf wfihaiwfhapi afawihfapwhf ioabwfioaiwfaihwfioah oifahwfiohaiowfh</p>
                  </div>
                </div>
              </a>
              <div class="footer">
                <a href="http://www.wikipedia.com">Wikipedia</a>
              </div>
            </div>





          </div>
        </div>

      </div>
    </div>

    <script>
      $(function(){
          $('.fadein img:gt(0)').hide();
          setInterval(function(){
            $('.fadein :first-child').fadeOut()
               .next('img').fadeIn()
               .end().appendTo('.fadein');}, 
            3000);
      });

    </script>




    </body>

</html>
