<!DOCTYPE html>
<html>

  {% include head.html %}

    <body>

    {% include header.html %}

    <div class="top-wrap">
      <div class="container">
        <div class="row">
          <div class="col-md-6 vcenter">
            <div class="content">
              <div class="fadein">
                <img src="/images/the-intelligent-investor.png"/>
                <img src="/images/liars-poker.png"/>
                <img src="/images/one-up-on-wall.png"/>
                <img src="/images/the-big-short.png"/>
              </div>
            </div>
          </div>
          <div class="col-md-6 vcenter">
            <div class="content">
              <h1>Ever wonder what the  </br> best finance books are?</h1>
              <h2>Find out now!</h2>
              <p>Here is a list of the thirty most influential investing and finance books that we've come across.</p>
              <a class="btn btn-custom" href="https://stockflare.com/register">Prepared by Stockflare</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="bottom-wrap">
      <div class="container-fluid">
        <div class="row header">
          <div class="col-md-12 text-center">
            <h4>Check out our favourite investing books</h4>
            <p>From practical advice to the history of the worst financial crashes!</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="book-block">
              <a href="http://www.amazon.com/One-Up-Wall-Street-Already/dp/0743200403/">
                <img src="/images/one-up-on-wall.png"/>
                <div class="content">
                  <h3>One Up On Wall Street</h3>
                  <p>by Peter Lynch</p>
                  <div class="quote">
                    <p>"More than one million copies have been sold of this seminal book on investing in which legendary mutual-fund manager Peter Lynch explains the advantages that average investors have over professionals and how they can use these advantages to achieve financial success." (Simon and Schuster)</p>
                  </div>
                </div>
              </a>
              <div class="footer">
                <a href="https://en.wikipedia.org/wiki/Peter_Lynch">Wikipedia</a>
              </div>
            </div>
            <div class="book-block">
              <a href="http://www.amazon.com/Little-Book-Common-Sense-Investing/dp/0470102101/">
                <img src="/images/the-little-book-of-common-sense.jpg"/>
                <div class="content">
                  <h3>The Little Book of Common Sense Investing</h3>
                  <p>by Jack Bogle</p>
                  <div class="quote">
                    <p>"Whether you know it or not, Wall Street wants to steal your future. If you want to stop them, drop everything, read this marvelous little book, and take it to heart; your children, and their children's children, will thank you." (William Bernstein)</p>
                  </div>
                </div>
              </a>
              <div class="footer">
                <a href="https://en.wikipedia.org/wiki/Little_Book_of_Common_Sense_Investing">Wikipedia</a>
              </div>
            </div>
            <div class="book-block">
              <a href="http://www.amazon.com/Intelligent-Investor-Definitive-Investing-Essentials/dp/0060555661/">
                <img src="/images/the-intelligent-investor.png"/>
                <div class="content">
                  <h3>The Intelligent Investor</h3>
                  <p>by Benjamin Graham</p>
                  <div class="quote">
                    <p>“By far the best book on investing ever written.” (Warren Buffett)</p>
                  </div>
                </div>
              </a>
              <div class="footer">
                <a href="https://en.wikipedia.org/wiki/The_Intelligent_Investor">Wikipedia</a>
              </div>
            </div>
            <div class="book-block">
              <a href="http://www.amazon.com/Where-Are-Customers-Yachts-Street/dp/0471770892/">
                <img src="/images/where-are-the-customers-yachts.jpg"/>
                <div class="content">
                  <h3>Where Are the Customers' Yachts</h3>
                  <p>by Fred Schwed</p>
                  <div class="quote">
                    <p>"Once I picked it up I did not put it down. What Schwed has done is capture fully, in deceptively clean language, the lunacy at the heart of the investment business." (Michael Lewis)</p>
                  </div>
                </div>
              </a>
              <div class="footer">
                <a href="https://en.wikipedia.org/wiki/Category:Finance_books">Wikipedia</a>
              </div>
            </div>
            <div class="book-block">
              <a href="http://www.amazon.com/Beating-Street-Peter-Lynch/dp/0671891634/">
                <img src="/images/beating-the-street.png"/>
                <div class="content">
                  <h3>Beating the Street</h3>
                  <p>by Peter Lynch</p>
                  <div class="quote">
                    <p>"Legendary money manager Peter Lynch explains his own strategies for investing and offers advice for how to pick stocks and mutual funds to assemble a successful investment portfolio." (Simon and Schuster)</p>
                  </div>
                </div>
              </a>
              <div class="footer">
                <a href="https://en.wikipedia.org/wiki/Peter_Lynch">Wikipedia</a>
              </div>
            </div>
            <div class="book-block">
              <a href="http://www.amazon.com/Common-Stocks-Uncommon-Profits-Writings/dp/0471445509/">
                <img src="/images/common-stocks-uncommon.png"/>
                <div class="content">
                  <h3>Common Stocks and Uncommon Profits and Other Writings</h3>
                  <p>by Philip A. Fisher</p>
                  <div class="quote">
                    <p>"I sought out Phil Fisher after reading his Common Stocks and Uncommon Profits. When I met him, I was impressed by the man as by his ideas. A thorough understanding of the business, obtained by using Phil's techniques enables one to make intelligent investment commitments." (Warren Buffett)</p>
                  </div>
                </div>
              </a>
              <div class="footer">
                <a href="https://en.wikipedia.org/wiki/Philip_Arthur_Fisher">Wikipedia</a>
              </div>
            </div>
            <div class="book-block">
              <a href="http://www.amazon.com/Stocks-Long-Run-Definitive-Investment/dp/0071800514/">
                <img src="/images/stocks-for-the-long-run.png"/>
                <div class="content">
                  <h3>Stocks for the Long Run</h3>
                  <p>by Jeremy Siegel</p>
                  <div class="quote">
                    <p>“A clearly written, neatly organized, highly persuasive exposition that lifts the veil of mystery from investing.” (Jack Bogle)</p>
                  </div>
                </div>
              </a>
              <div class="footer">
                <a href="https://en.wikipedia.org/wiki/Stocks_for_the_Long_Run">Wikipedia</a>
              </div>
            </div>
            <div class="book-block">
              <a href="http://www.amazon.com/Irrational-Exuberance-3rd-Robert-Shiller/dp/0691166269/">
                <img src="/images/irrational-exuberence.png"/>
                <div class="content">
                  <h3>Irrational Exuberance</h3>
                  <p>by Robert J. Shiller</p>
                  <div class="quote">
                    <p>"A rare example of economic analysis, deeply respected within the discipline, wholly accessible to general readers." (Kirkus)</p>
                  </div>
                </div>
              </a>
              <div class="footer">
                <a href="https://en.wikipedia.org/wiki/Irrational_Exuberance_(book)">Wikipedia</a>
              </div>
            </div>
            <div class="book-block">
              <a href="http://www.amazon.com/Big-Short-Inside-Doomsday-Machine/dp/0393338827/">
                <img src="/images/the-big-short.png"/>
                <div class="content">
                  <h3>The Big Short</h3>
                  <p>by Michael Lewis</p>
                  <div class="quote">
                    <p>Lewis’s achievement with The Big Short is that he’s written a book that a huge number of people will love to read: it’s not just for finance geeks. (Felix Salomon)
</p>
                  </div>
                </div>
              </a>
              <div class="footer">
                <a href="https://en.wikipedia.org/wiki/The_Big_Short">Wikipedia</a>
              </div>
            </div>
            <div class="book-block">
              <a href="http://www.amazon.com/Too-Big-Fail-Washington-FinancialSystem/dp/0143118242/">
                <img src="/images/too-big-to-fail.png"/>
                <div class="content">
                  <h3>Too Big to Fail</h3>
                  <p>by Andrew Ross Sorkin</p>
                  <div class="quote">
                    <p>"Andrew Ross Sorkin has written a fascinating, scene-by-scene saga of the eyeless trying to march the clueless through Great Recession." (Tom Wolfe)</p>
                  </div>
                </div>
              </a>
              <div class="footer">
                <a href="https://en.wikipedia.org/wiki/Too_Big_to_Fail_(book)">Wikipedia</a>
              </div>
            </div>
            <div class="book-block">
              <a href="http://www.amazon.com/Liars-Poker-Norton-Paperback-Michael/dp/039333869X/">
                <img src="/images/liars-poker.png"/>
                <div class="content">
                  <h3>Liar's Poker</h3>
                  <p>by Michael Lewis</p>
                  <div class="quote">
                    <p>“So memorable and alive. One of those rare works that encapsulate and define an era.” (Fortune)</p>
                  </div>
                </div>
              </a>
              <div class="footer">
                <a href="https://en.wikipedia.org/wiki/Liar%27s_Poker">Wikipedia</a>
              </div>
            </div>
            <div class="book-block">
              <a href="http://www.amazon.com/When-Genius-Failed-Long-Term-Management/dp/0375758259/">
                <img src="/images/when-genius-failed.png"/>
                <div class="content">
                  <h3>When Genius Failed</h3>
                  <p>by Roger Lowenstein</p>
                  <div class="quote">
                    <p>“A riveting account that reaches beyond the market landscape to say something universal about risk and triumph, about hubris and failure.” (The New York Times)</p>
                  </div>
                </div>
              </a>
              <div class="footer">
                <a href="https://en.wikipedia.org/wiki/When_Genius_Failed">Wikipedia</a>
              </div>
            </div>
            <div class="book-block">
              <a href="http://www.amazon.com/Random-Walk-Down-Wall-Street/dp/0393340740/">
                <img src="/images/a-random-walk-down-wall.png"/>
                <div class="content">
                  <h3>A Random Walk Down Wall Street</h3>
                  <p>by Burton G. Malkiel</p>
                  <div class="quote">
                    <p>“Not more than half a dozen really good books about investing have been written in the past fifty years. This one may well belong in the classics category.” (Forbes)</p>
                  </div>
                </div>
              </a>
              <div class="footer">
                <a href="https://en.wikipedia.org/wiki/A_Random_Walk_Down_Wall_Street">Wikipedia</a>
              </div>
            </div>
            <div class="book-block">
              <a href="http://www.amazon.com/Little-Book-Behavioral-Investing-worst/dp/0470686022/">
                <img src="/images/little-book-of-behavioral.png"/>
                <div class="content">
                  <h3>The Little Book of Behavioral Investing</h3>
                  <p>by James Montier</p>
                  <div class="quote">
                    <p>"'Know thyself.' Overcoming human instinct is key to becoming a better investor. You would be irrational if you did not read this book." (Edward Bonham-Carter)</p>
                  </div>
                </div>
              </a>
              <div class="footer">
                <a href="https://en.wikipedia.org/wiki/Category:Finance_books">Wikipedia</a>
              </div>
            </div>
            <div class="book-block">
              <a href="http://www.amazon.com/Simple-But-Not-Easy-Autobiographical/dp/0955576601/">
                <img src="/images/simple-but-not-easy.png"/>
                <div class="content">
                  <h3>Simple But Not Easy</h3>
                  <p>by Richard Oldfield</p>
                  <div class="quote">
                    <p>"An expert, extremely readable real-life tour through the main features of the investment landscape" (Investors Chronicle)</p>
                  </div>
                </div>
              </a>
              <div class="footer">
                <a href="https://en.wikipedia.org/wiki/Category:Finance_books">Wikipedia</a>
              </div>
            </div>
            <div class="book-block">
              <a href="http://www.amazon.com/Manual-Ideas-Framework-Finding-Investments/dp/1118083652/">
                <img src="/images/the-manual-ideas.png"/>
                <div class="content">
                  <h3>The Manual of Ideas</h3>
                  <p>by John Mihaljevic</p>
                  <div class="quote">
                    <p>"Smart investors will read this book carefully and hope that few others do." (Bryan Lawrence)</p>
                  </div>
                </div>
              </a>
              <div class="footer">
                <a href="https://en.wikipedia.org/wiki/John_Mihaljevic">Wikipedia</a>
              </div>
            </div>
            <div class="book-block">
              <a href="http://www.amazon.com/Most-Important-Thing-Illuminated-Thoughtful/dp/0231162847/">
                <img src="/images/important-thing-illuminated.png"/>
                <div class="content">
                  <h3>The Most Important Thing Illuminated</h3>
                  <p>by Howard Marks</p>
                  <div class="quote">
                    <p>"If you take an exceptional talent and have them obsess about value investing for several decades, you may come up with a book as useful to value investors as this one." (Jeremy Grantham)</p>
                  </div>
                </div>
              </a>
              <div class="footer">
                <a href="https://en.wikipedia.org/wiki/Howard_Marks_(investor)">Wikipedia</a>
              </div>
            </div>
            <div class="book-block">
              <a href="http://www.amazon.com/Great-Crash-1929-Kenneth-Galbraith/dp/0547248164/">
                <img src="/images/the-great-crash.png"/>
                <div class="content">
                  <h3>The Great Crash 1929</h3>
                  <p>by John Kenneth Galbraith</p>
                  <div class="quote">
                    <p>"Most intriguing for its depiction of the delusion that swept the culture, and the ways financiers and bankers, wishful academics and supine regulators willfully ignored reality and in the process encouraged the epic collapse of the stock market." (New York Times )</p>
                  </div>
                </div>
              </a>
              <div class="footer">
                <a href="https://en.wikipedia.org/wiki/The_Great_Crash,_1929">Wikipedia</a>
              </div>
            </div>
            <div class="book-block">
              <a href="http://www.amazon.com/Fooled-Randomness-Hidden-Markets-Incerto/dp/0812975219/">
                <img src="/images/fooled-by-randomness.png"/>
                <div class="content">
                  <h3>Fooled by Randomness</h3>
                  <p>by Nassim Taleb</p>
                  <div class="quote">
                    <p>"Taleb is Wall Street’s principal dissident. Fooled By Randomness is to conventional Wall Street wisdom approximately what Martin Luther’s ninety-nine theses were to the Catholic Church.” (Malcolm Gladwell)</p>
                  </div>
                </div>
              </a>
              <div class="footer">
                <a href="https://en.wikipedia.org/wiki/Fooled_by_Randomness">Wikipedia</a>
              </div>
            </div>
            <div class="book-block">
              <a href="http://www.amazon.com/History-Financial-Euphoria-Penguin-business/dp/0140238565/">
                <img src="/images/short-history-of-financial-euphoria.png"/>
                <div class="content">
                  <h3>A Short History of Financial Euphoria</h3>
                  <p>by John Kenneth Galbraith</p>
                  <div class="quote">
                    <p>"Galbraith traces the investor "herd" mentality from Tulipomania, which gripped Holland in the 1630s, through a variety of events and up through the 1987 stock market debacle--which he accurately predicted. He points out that the "mass escape from sanity by people in pursuit of profit," which, in his opinion, is always the cause, is never blamed." (Christopher Pavek)</p>
                  </div>
                </div>
              </a>
              <div class="footer">
                <a href="https://en.wikipedia.org/wiki/John_Kenneth_Galbraith">Wikipedia</a>
              </div>
            </div>
            <div class="book-block">
              <a href="http://www.amazon.com/Black-Swan-Improbable-Robustness-Fragility/dp/081297381X/">
                <img src="/images/the-black-swan.png"/>
                <div class="content">
                  <h3>The Black Swan</h3>
                  <p>by Nassim Taleb</p>
                  <div class="quote">
                    <p>“The Black Swan changed my view of how the world works.” (Daniel Kahneman)</p>
                  </div>
                </div>
              </a>
              <div class="footer">
                <a href="https://en.wikipedia.org/wiki/The_Black_Swan_(2007_book)">Wikipedia</a>
              </div>
            </div>
            <div class="book-block">
              <a href="http://www.amazon.com/Drunkards-Walk-Randomness-Rules-Lives/dp/0307275175/">
                <img src="/images/the-drunkards-walk.png"/>
                <div class="content">
                  <h3>The Drunkard's Walk</h3>
                  <p>by Leonard Mlodinow</p>
                  <div class="quote">
                    <p>“A wonderfully readable guide to how the mathematical laws of randomness affect our lives.” (Stephen Hawking)
</p>
                  </div>
                </div>
              </a>
              <div class="footer">
                <a href="https://en.wikipedia.org/wiki/The_Drunkard%27s_Walk">Wikipedia</a>
              </div>
            </div>
            <div class="book-block">
              <a href="http://www.amazon.com/Against-Gods-Remarkable-Story-Risk/dp/0471295639/">
                <img src="/images/against-the-gods.png"/>
                <div class="content">
                  <h3>Against the Gods</h3>
                  <p>by Peter L. Bernstein</p>
                  <div class="quote">
                    <p>"With his wonderful knowledge of the history and current manifestations of risk, Peter Bernstein brings us Against the Gods. Nothing like it will come out of the financial world this year or ever." (John Kenneth Galbraith)</p>
                  </div>
                </div>
              </a>
              <div class="footer">
                <a href="https://en.wikipedia.org/wiki/Peter_L._Bernstein">Wikipedia</a>
              </div>
            </div>
            <div class="book-block">
              <a href="http://www.amazon.com/Why-Stocks-Go-Up-Down/dp/0989298205/">
                <img src="/images/why-stocks-go-up-and-down.png"/>
                <div class="content">
                  <h3>Why Stocks Go Up and Down</h3>
                  <p>by William Pike</p>
                  <div class="quote">
                    <p>“An in-depth introduction to stock and bond investments. Assumes the reader has no prior background.” (GoodReads)</p>
                  </div>
                </div>
              </a>
              <div class="footer">
                <a href="https://en.wikipedia.org/wiki/Category:Finance_books">Wikipedia</a>
              </div>
            </div>
            <div class="book-block">
              <a href="http://www.amazon.com/Manias-Panics-Crashes-History-Financial/dp/0230365353/">
                <img src="/images/manias-panics-and-crashes.png"/>
                <div class="content">
                  <h3>Manias, Panics, and Crashes</h3>
                  <p>by Charles P. Kindleberger</p>
                  <div class="quote">
                    <p>"Underneath the hilarious anecdotes, the elegant epigrams, and the graceful turns of phrase, Kindleberger is deadly serious. The manner in which humans beings earn their livings is no laughing matter to him, especially when they attempt to do so at the expense of one another." (Peter Bernstein)</p>
                  </div>
                </div>
              </a>
              <div class="footer">
                <a href="https://en.wikipedia.org/wiki/Charles_P._Kindleberger">Wikipedia</a>
              </div>
            </div>
            <div class="book-block">
              <a href="http://www.amazon.com/Extraordinary-Popular-Delusions-Madness-Crowds/dp/1463740514/">
                <img src="/images/memoirs-of-delusion.png"/>
                <div class="content">
                  <h3>Extraordinary Popular Delusions and The Madness of Crowds</h3>
                  <p>by Charles MacKay</p>
                  <div class="quote">
                    <p>"As with any true classic, once it is read it is hard to imagine not having known of it--and there is the compulsion to recommend it to others." (Andrew Tobias)</p>
                  </div>
                </div>
              </a>
              <div class="footer">
                <a href="https://en.wikipedia.org/wiki/Extraordinary_Popular_Delusions_and_the_Madness_of_Crowds">Wikipedia</a>
              </div>
            </div>
            <div class="book-block">
              <a href="http://www.amazon.com/Reminiscences-Stock-Operator-Edwin-Lef%C3%A8vre/dp/0471770884/">
                <img src="/images/stock-operator.png"/>
                <div class="content">
                  <h3>Reminiscences of a Stock Operator</h3>
                  <p>by Edwin Lefèvre</p>
                  <div class="quote">
                    <p>"An engaging read, chock-full of pearls of wisdom and amusing anecdotes, candid and analytical style evoking sympathy for the narrator." (Money Week)</p>
                  </div>
                </div>
              </a>
              <div class="footer">
                <a href="https://en.wikipedia.org/wiki/Reminiscences_of_a_Stock_Operator">Wikipedia</a>
              </div>
            </div>
            <div class="book-block">
              <a href="http://www.amazon.com/Clash-Financial-Pundits-Influences-Investment/dp/0071817921/">
                <img src="/images/clash-of-the-financial-pundits.png"/>
                <div class="content">
                  <h3>Clash of the Financial Pundits</h3>
                  <p>by Joshua M. Brown</p>
                  <div class="quote">
                    <p>"Joshua Brown may be the funniest writer on finance today, but backstage Wall Street could make you cry more than laugh. The buffoons, manipulators, and incompetents Brown parades before us are the stewards of our retirement accounts." (Barron's)</p>
                  </div>
                </div>
              </a>
              <div class="footer">
                <a href="https://en.wikipedia.org/wiki/Joshua_Brown">Wikipedia</a>
              </div>
            </div>
            <div class="book-block">
              <a href="http://www.amazon.com/Davis-Dynasty-Successful-Investing-Street/dp/047147441X/">
                <img src="/images/davis-dynasty.png"/>
                <div class="content">
                  <h3>The Davis Dynasty</h3>
                  <p>by John Rothchild</p>
                  <div class="quote">
                    <p>"This is an unusual biography, a rare gem that captures the history of one of Wall Street’s greatest families." (Barton Biggs)</p>
                  </div>
                </div>
              </a>
              <div class="footer">
                <a href="https://en.wikipedia.org/wiki/John_Rothchild">Wikipedia</a>
              </div>
            </div>





          </div>
        </div>

      </div>
    </div>

    <script>
      $(function(){
          $('.fadein img:gt(0)').hide();
          setInterval(function(){
            $('.fadein :first-child').fadeOut()
               .next('img').fadeIn()
               .end().appendTo('.fadein');}, 
            3000);
      });

    </script>

<script>
        UserVoice=window.UserVoice||[];(function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/ECFrBihKv1klUhAIZTi4lg.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})();
        UserVoice.push(['set', { accent_color: '#448dd6', trigger_color: 'white', trigger_background_color: 'rgba(46, 49, 51, 0.6)' }]);
        UserVoice.push(['addTrigger', { mode: 'contact', trigger_position: 'bottom-right' }]);
</script>

    </body>

</html>
